.about-container {
  height: 130vh;

  // Generate with "https://cssgradient.io/"
  background: rgb(31, 95, 168);
  background: linear-gradient(
    0deg,
    rgba(31, 95, 168, 1) 0%,
    rgba(31, 95, 168, 1) 20%,
    rgba(0, 0, 0, 1) 90%
  );
  //   background: rgb(31, 95, 168);
  //   background: linear-gradient(
  //     0deg,
  //     rgba(31, 95, 168, 1) 0%,
  //     rgba(31, 95, 168, 1) 20%,
  //     rgba(0, 0, 0, 1) 84%
  //   );

  display: grid;
  justify-content: center;
  align-items: center;
}

.about-content {
  height: 90vh;
  width: 90vw;
  border-radius: 10px;
  background-color: black;

  display: grid;
  grid-template-rows: 0.5fr 2.5fr 2fr 0.3fr;
  grid-template-columns: 30px 1fr 1fr 2fr 30px;
}

.line-horizontal {
  background-color: white;
  border-radius: 90%;
  height: 1px;
  width: 40vw;

  grid-column-start: 4;
  grid-row-start: 4;
  justify-self: end;
}

.line-vertical {
  background-color: white;
  border-radius: 90%;
  width: 1px;
  height: 30vh;
  grid-column-start: 5;
  grid-row-start: 3;
  align-self: end;
}

.about-header {
  font-size: 2em;
  grid-column-start: 2;
  grid-row-end: 2;
}

.about-intro {
  font-size: 1.5em;
  padding-right: 1em;
  grid-column-start: 2;
  grid-column-end: 5;

  grid-row-start: 2;
  grid-row-end: 3;
}

.about-tools {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;

  display: grid;
  grid-template-rows: 1fr 1fr;
  // grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  align-items: end;
  // margin-right: 80px;
}

#java {
}

#android {
  margin-top: 15px;
  margin-right: 5px;
  grid-column-start: 3;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

#vscode {
  margin-top: 15px;
  margin-right: 5px;
}

#sass {
  margin-top: 15px;
}

#html {
  grid-column-start: 1;
  grid-row-start: 2;
}

#css {
  margin-right: 5px;
  grid-column-start: 2;
  grid-row-start: 2;
}

#javascript {
  margin-top: 10px;
  margin-right: 5px;
  grid-column-start: 3;
  grid-row-start: 2;
}

#github {
}
