@include mediaSm {
}
@include mediaMd {
  #contact-github {
    width: auto;
    height: 65%;
  }

  #linkedin {
    width: auto;
    height: 65%;
  }

  #resume {
    width: auto;
    height: 65%;
  }

  .resume-btn {
    font-size: 1.4rem;
  }
}
@include mediaLg {
  #contact-github {
    width: auto;
    height: 65%;
  }

  #linkedin {
    width: auto;
    height: 65%;
  }

  #resume {
    width: auto;
    height: 65%;
  }
}
@include mediaXl {
}
