// This file will @include all of our @mixin media queries from _config.scss
@include mediaSm {
  .main-title {
    font-size: 1.5rem;
  }

  // "About" section
  .about-content {
    height: 10vh;
    grid-template-columns: 30px 3fr 3fr 1fr 30px;
  }

  .about-tools {
    justify-items: end;
  }

  .line-vertical {
    height: 20vh;
  }

  #java {
    margin-right: 8px;
    max-width: 100%;
    height: auto;
  }

  #android {
    margin-right: 8px;
    max-width: 100%;
    height: auto;
  }

  #vscode {
    max-width: 100%;
    height: auto;
  }

  #sass {
    max-width: 100%;
    height: auto;
  }

  #html {
    max-width: 100%;
    height: auto;
  }

  #css {
    max-width: 100%;
    height: auto;
  }

  #javascript {
    max-width: 100%;
    height: auto;
  }

  #github {
    max-width: 100%;
    height: auto;
  }
}

@include mediaMd {
  .main-title {
    font-size: 1.5rem;
  }

  header {
    display: grid;
    grid-template-columns: 1fr 3fr;
  }

  .logo {
    grid-column: 1 / span 1;
    justify-self: start;
    // Moves logo to left so everything seems proportional on phone display
    margin-left: 1em;
  }

  // "About" section

  .about-content {
    height: 90vh;
    grid-template-columns: 30px 2fr 1fr 2fr 30px;
  }

  .about-intro {
    font-size: 1.1em;
  }

  .line-horizontal {
    width: 13vw;
  }

  .line-vertical {
    height: 24vh;
  }

  #java {
    max-width: 100%;
    height: auto;
  }

  #android {
    max-width: 100%;
    height: auto;
  }

  #vscode {
    max-width: 100%;
    height: auto;
  }

  #sass {
    max-width: 100%;
    height: auto;
  }

  #html {
    max-width: 100%;
    height: auto;
  }

  #css {
    max-width: 100%;
    height: auto;
  }

  #javascript {
    max-width: 100%;
    height: auto;
  }

  #github {
    max-width: 100%;
    height: auto;
  }
}

@include mediaLg {
  nav {
    width: 50vw;
    opacity: 0;
  }

  .main-title {
    font-size: 2rem;
  }

  header {
    display: grid;
    grid-template-columns: 1fr 3fr;
  }

  .logo {
    grid-column: 1 / span 1;
    justify-self: start;
    // Moves logo to left so everything seems proportional on phone display
    margin-left: 1em;
  }

  // "About" section
  .about-content {
    height: 100vh;
  }

  .about-intro {
    font-size: 1.4em;
  }

  .line-horizontal {
    width: 30vw;
  }

  .line-vertical {
    height: 25vh;
  }

  #java {
    max-width: 100%;
    height: auto;
  }

  #android {
    max-width: 100%;
    height: auto;
  }

  #vscode {
    max-width: 100%;
    height: auto;
  }

  #sass {
    max-width: 100%;
    height: auto;
  }

  #html {
    max-width: 100%;
    height: auto;
  }

  #css {
    max-width: 100%;
    height: auto;
  }

  #javascript {
    max-width: 100%;
    height: auto;
  }

  #github {
    max-width: 100%;
    height: auto;
  }
}

@include mediaXl {
  // Gets rid of blur affect if user is viewing nav links and decides to expand page horizontally
  .blur-glass {
    all: unset;
  }

  .blurry-background {
    all: unset;
  }

  .nav-toggle-label {
    display: none;
  }

  header {
    display: grid;
    grid-template-columns: 1fr 3fr;
    transition: all 0.5s;
    // Hides navbar onScroll.
    // We only want this effect when we are on larger screens.
    &.hide-nav {
      transform: translateY(-80px);
    }
  }

  .logo {
    grid-column: 1 / span 1;
    justify-self: start;
    margin-left: 2em;
  }

  nav {
    // Undoes styles
    all: unset;
    grid-column: 2/4;

    // display: flex;
    justify-self: end;
    align-self: center;
    margin-right: 4em;
  }

  nav li {
    display: inline;
    margin-left: 3em;
    bottom: 0;
  }
}
