header {
  height: 75px;
  background: #000;
  position: fixed;
  text-align: center;
  z-index: 999;
  width: 100%;
  color: #fff;
}

.nav-background {
  position: absolute;
  z-index: -1;
}

.blurry-background {
  position: absolute;
  z-index: -1;
  height: 80px;
  width: 100%;
  background: black;
  -webkit-filter: blur(8px);
          filter: blur(8px);
  -webkit-transition: -webkit-filter 250ms ease-in-out;
  transition: -webkit-filter 250ms ease-in-out;
  transition: filter 250ms ease-in-out;
  transition: filter 250ms ease-in-out, -webkit-filter 250ms ease-in-out;
}

.logo {
  margin-left: 1em;
  margin-top: 0.5em;
}

nav {
  background: #262626;
  position: absolute;
  right: 0;
  height: 100vh;
  width: 65vw;
  text-align: left;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: -webkit-transform 150ms ease-in-out;
  transition: -webkit-transform 150ms ease-in-out;
  transition: transform 150ms ease-in-out;
  transition: transform 150ms ease-in-out, -webkit-transform 150ms ease-in-out;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-bottom: 3em;
  margin-left: 1em;
}

nav a {
  color: #fff;
  font-size: 1.2rem;
  text-decoration: none;
}

.nav-toggle {
  display: none;
}

.nav-toggle:checked ~ nav {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
  opacity: 1;
}

.nav-toggle-label {
  /* This will remove label outside the normal flow of the document and is positioned
      relative to it's parent (In this case it's the "header" element).  */
  position: absolute;
  margin: 0;
  padding-left: 2em;
  top: 0;
  right: 0;
  width: 100px;
  z-index: 20;
  height: 100%;
  /* 
    Using flex-box just because it'll make it easier to center our label (vertically) after
    we set height to 100% 

    This is for the hamburger (vertical)
    */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: white;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: "";
  position: absolute;
}

.nav-toggle:checked + label > span {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}

.nav-toggle:not(:checked) + label > span {
  -webkit-transform: rotate(deg);
          transform: rotate(deg);
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}

.nav-toggle:checked + label > span::before {
  bottom: 0;
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}

.nav-toggle:not(:checked) + label > span::before {
  bottom: 7px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}

.nav-toggle:checked + label > span::after {
  top: 0;
  -webkit-transform: rotate(-270deg);
          transform: rotate(-270deg);
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}

.nav-toggle:not(:checked) + label > span::after {
  top: 7px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}

.about-container {
  height: 130vh;
  background: #1f5fa8;
  background: -webkit-gradient(linear, left bottom, left top, from(#1f5fa8), color-stop(20%, #1f5fa8), color-stop(90%, black));
  background: linear-gradient(0deg, #1f5fa8 0%, #1f5fa8 20%, black 90%);
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-content {
  height: 90vh;
  width: 90vw;
  border-radius: 10px;
  background-color: black;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 0.5fr 2.5fr 2fr 0.3fr;
      grid-template-rows: 0.5fr 2.5fr 2fr 0.3fr;
  -ms-grid-columns: 30px 1fr 1fr 2fr 30px;
      grid-template-columns: 30px 1fr 1fr 2fr 30px;
}

.line-horizontal {
  background-color: white;
  border-radius: 90%;
  height: 1px;
  width: 40vw;
  -ms-grid-column: 4;
      grid-column-start: 4;
  -ms-grid-row: 4;
      grid-row-start: 4;
  -ms-grid-column-align: end;
      justify-self: end;
}

.line-vertical {
  background-color: white;
  border-radius: 90%;
  width: 1px;
  height: 30vh;
  -ms-grid-column: 5;
      grid-column-start: 5;
  -ms-grid-row: 3;
      grid-row-start: 3;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

.about-header {
  font-size: 2em;
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-row-end: 2;
}

.about-intro {
  font-size: 1.5em;
  padding-right: 1em;
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 5;
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 3;
}

.about-tools {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 4;
  -ms-grid-row: 3;
      grid-row-start: 3;
  grid-row-end: 4;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

#android {
  margin-top: 15px;
  margin-right: 5px;
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 2;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 2;
}

#vscode {
  margin-top: 15px;
  margin-right: 5px;
}

#sass {
  margin-top: 15px;
}

#html {
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-row: 2;
      grid-row-start: 2;
}

#css {
  margin-right: 5px;
  -ms-grid-column: 2;
      grid-column-start: 2;
  -ms-grid-row: 2;
      grid-row-start: 2;
}

#javascript {
  margin-top: 10px;
  margin-right: 5px;
  -ms-grid-column: 3;
      grid-column-start: 3;
  -ms-grid-row: 2;
      grid-row-start: 2;
}

.projects-container {
  background: #1f5fa8;
  height: 200vh;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.projects-muse {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 100vh;
  width: 90vw;
  background: black;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.2fr 1fr 3fr 0.2fr;
      grid-template-columns: 0.2fr 1fr 3fr 0.2fr;
  -ms-grid-rows: 0.3fr 0.2fr 1fr 0.5fr;
      grid-template-rows: 0.3fr 0.2fr 1fr 0.5fr;
}

.projects-heading {
  -ms-grid-column: 2;
      grid-column-start: 2;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 2;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  font-size: 2rem;
  margin-top: 1em;
}

.muse-heading {
  -ms-grid-column: 3;
      grid-column-start: 3;
  -ms-grid-row: 2;
      grid-row-start: 2;
  font-size: 2rem;
  -ms-grid-column-align: center;
      justify-self: center;
  color: grey;
}

.muse-image {
  -ms-grid-column: 2;
      grid-column-start: 2;
  -ms-grid-row: 3;
      grid-row-start: 3;
  grid-row-end: 4;
}

.muse-image img {
  border: 1px solid grey;
  border-radius: 10px;
}

.muse-description {
  -ms-grid-column: 3;
      grid-column-start: 3;
  -ms-grid-row: 3;
      grid-row-start: 3;
  font-size: 1.4rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 0.3fr;
      grid-template-columns: 1fr 0.3fr;
  -ms-grid-rows: 1fr 0.2fr;
      grid-template-rows: 1fr 0.2fr;
}

.muse-description-text {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 2;
}

.muse-technologies {
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-row: 2;
      grid-row-start: 2;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  color: #14ff9b;
}

.muse-technologies-octocat {
  -ms-grid-column: 2;
      grid-column-start: 2;
  -ms-grid-row: 2;
      grid-row-start: 2;
  -ms-grid-column-align: end;
      justify-self: end;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

.projects-acm {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  height: 100vh;
  width: 90vw;
  background: black;
  display: -ms-grid;
  display: grid;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
html {
  height: 100%;
  width: 100%;
  color: white;
  margin: 0;
  font-family: "Courier New", Courier, monospace;
}

.blur-glass {
  -webkit-filter: blur(8px);
          filter: blur(8px);
  -webkit-transition: -webkit-filter 250ms ease-in-out;
  transition: -webkit-filter 250ms ease-in-out;
  transition: filter 250ms ease-in-out;
  transition: filter 250ms ease-in-out, -webkit-filter 250ms ease-in-out;
}

.unblur-glass {
  -webkit-filter: blur(0);
          filter: blur(0);
  -webkit-transition: -webkit-filter 250ms ease-in-out;
  transition: -webkit-filter 250ms ease-in-out;
  transition: filter 250ms ease-in-out;
  transition: filter 250ms ease-in-out, -webkit-filter 250ms ease-in-out;
}

.main-title {
  font-size: 2.5rem;
}

.container {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 50px;
  height: 100vh;
}

.main {
  position: relative;
}

#main-description {
  margin-left: 35px;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

#overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: -9;
}

#background img {
  z-index: -10;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  background-attachment: fixed;
  bottom: 0;
  left: 0;
}

@-webkit-keyframes bounceInDown {
  0%,
  60%,
  75%,
  90%,
  100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0.1;
    -webkit-transform: translate3d(0, -5000px, 0);
    transform: translate3d(0, -5000px, 0);
  }
  60% {
    opacity: 0.3;
    -webkit-transform: translate3d(0, 65px, 0);
    transform: translate3d(0, 65px, 0);
  }
  75% {
    opacity: 0.9;
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }
  90% {
    opacity: 0.98;
    -webkit-transform: translate3d(0, 35px, 0);
    transform: translate3d(0, 35px, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 35px, 0);
    transform: translate3d(0, 35px, 0);
  }
}

@keyframes bounceInDown {
  0%,
  60%,
  75%,
  90%,
  100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0.1;
    -webkit-transform: translate3d(0, -5000px, 0);
    transform: translate3d(0, -5000px, 0);
  }
  60% {
    opacity: 0.3;
    -webkit-transform: translate3d(0, 65px, 0);
    transform: translate3d(0, 65px, 0);
  }
  75% {
    opacity: 0.9;
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }
  90% {
    opacity: 0.98;
    -webkit-transform: translate3d(0, 35px, 0);
    transform: translate3d(0, 35px, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 35px, 0);
    transform: translate3d(0, 35px, 0);
  }
}

.main-attraction {
  -webkit-animation-name: bounceInDown;
  animation-name: bounceInDown;
}

@media screen and (max-width: 500px) {
  .main-title {
    font-size: 1.5rem;
  }
  .about-content {
    height: 10vh;
    -ms-grid-columns: 30px 3fr 3fr 1fr 30px;
        grid-template-columns: 30px 3fr 3fr 1fr 30px;
  }
  .about-tools {
    justify-items: end;
  }
  .line-vertical {
    height: 20vh;
  }
  #java {
    margin-right: 8px;
    max-width: 100%;
    height: auto;
  }
  #android {
    margin-right: 8px;
    max-width: 100%;
    height: auto;
  }
  #vscode {
    max-width: 100%;
    height: auto;
  }
  #sass {
    max-width: 100%;
    height: auto;
  }
  #html {
    max-width: 100%;
    height: auto;
  }
  #css {
    max-width: 100%;
    height: auto;
  }
  #javascript {
    max-width: 100%;
    height: auto;
  }
  #github {
    max-width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 768px) {
  .main-title {
    font-size: 1.5rem;
  }
  header {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 3fr;
        grid-template-columns: 1fr 3fr;
  }
  .logo {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / span 1;
    -ms-grid-column-align: start;
        justify-self: start;
    margin-left: 1em;
  }
  .about-content {
    height: 90vh;
    -ms-grid-columns: 30px 2fr 1fr 2fr 30px;
        grid-template-columns: 30px 2fr 1fr 2fr 30px;
  }
  .about-intro {
    font-size: 1.1em;
  }
  .line-horizontal {
    width: 13vw;
  }
  .line-vertical {
    height: 24vh;
  }
  #java {
    max-width: 100%;
    height: auto;
  }
  #android {
    max-width: 100%;
    height: auto;
  }
  #vscode {
    max-width: 100%;
    height: auto;
  }
  #sass {
    max-width: 100%;
    height: auto;
  }
  #html {
    max-width: 100%;
    height: auto;
  }
  #css {
    max-width: 100%;
    height: auto;
  }
  #javascript {
    max-width: 100%;
    height: auto;
  }
  #github {
    max-width: 100%;
    height: auto;
  }
}

@media screen and (min-width: 769px) and (max-width: 1170px) {
  nav {
    width: 50vw;
    opacity: 0;
  }
  .main-title {
    font-size: 2rem;
  }
  header {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 3fr;
        grid-template-columns: 1fr 3fr;
  }
  .logo {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / span 1;
    -ms-grid-column-align: start;
        justify-self: start;
    margin-left: 1em;
  }
  .about-content {
    height: 100vh;
  }
  .about-intro {
    font-size: 1.4em;
  }
  .line-horizontal {
    width: 30vw;
  }
  .line-vertical {
    height: 25vh;
  }
  #java {
    max-width: 100%;
    height: auto;
  }
  #android {
    max-width: 100%;
    height: auto;
  }
  #vscode {
    max-width: 100%;
    height: auto;
  }
  #sass {
    max-width: 100%;
    height: auto;
  }
  #html {
    max-width: 100%;
    height: auto;
  }
  #css {
    max-width: 100%;
    height: auto;
  }
  #javascript {
    max-width: 100%;
    height: auto;
  }
  #github {
    max-width: 100%;
    height: auto;
  }
}

@media screen and (min-width: 1171px) {
  .blur-glass {
    all: unset;
  }
  .blurry-background {
    all: unset;
  }
  .nav-toggle-label {
    display: none;
  }
  header {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 3fr;
        grid-template-columns: 1fr 3fr;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  header.hide-nav {
    -webkit-transform: translateY(-80px);
            transform: translateY(-80px);
  }
  .logo {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / span 1;
    -ms-grid-column-align: start;
        justify-self: start;
    margin-left: 2em;
  }
  nav {
    all: unset;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2/4;
    -ms-grid-column-align: end;
        justify-self: end;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-right: 4em;
  }
  nav li {
    display: inline;
    margin-left: 3em;
    bottom: 0;
  }
}
/*# sourceMappingURL=main.css.map */